* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  --bg-color: #f5f5f5;
  --bg-color-header: #333;
}

.container {
  background-color: var(--bg-color);
  color: white;
  display: grid;
  grid-template-areas:  "header header header"
                        "s1 s1 s1"
                        "s2 s2 s2"
                        "footer footer footer";
  justify-content: center;
}
/* estilizando o header*/
header {
  background-color: var(--bg-color-header);
  display: flex;
  height: 70px;
  align-items: center;
  padding-left: 25px;
  grid-area: header;
}

header img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

header h1 {
  font-weight: 400;
}
/* fim da estilização do header */

main section:not(:last-child) {
  height: 300px;
  width: 100%;
  background: url(assets/background.jpg) center no-repeat;
  background-size: cover;
  margin-bottom: 30px;
  padding: 30px;
  grid-area: s1;
  display: grid;
  grid-template-areas: "h1 p";
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
}

main section:not(:last-child) h1 {
  font-size: 150px;
  grid-area: "h1";
}

main section:not(:last-child) p {
  grid-area: "p";
}

main section:not(:first-child) {
  display: grid;
  gap: 20px;
  justify-content: center;
  align-content: center;
  grid-area: s2;
  padding-inline: 20px;
  grid-template-areas:  "art art art"
                        "art art art"
                        "art art art";
}

.item {
  grid-area: "art";
}

article {
  max-width: 300px;
  min-width: 200px;
  height: 200px;
}

article img {
  width: 100%;
  height: 100%;
}

article h2 {
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
  position: relative;
  bottom: 35px;
  height: 40px;
  text-align: center;
}

footer {
  background-color: var(--bg-color-header);
  margin-top: 100px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  grid-area: footer;
}

footer img {
  width: 70px;
  height: 70px;
}

footer h2 {
  margin-left: 10px;
  font-size: 40px;
}

@media(max-width: 680px) {
  main section:not(:first-child) {
    grid-template-areas:  "art art"
                          "art art"
                          "art art"
                          "art art";
  }
  main section:not(:last-child) {
    grid-template-areas: "h1"
                          "p";
  }
}

@media(max-width: 520px) {
  main section:not(:first-child) {
    grid-template-areas:  "art"
                          "art"
                          "art"
                          "art"
                          "art"
                          "art"
                          "art"
                          "art";
  }
  article {
    max-width: 400px;
    height: 250px;
  }
}